.segment {
  font-size: 1.8rem;
  text-align: justify;
  margin: 0 20px;
  padding: 20px;
  background-color: whitesmoke;
}

.titre {
  font-size: 2.5rem;
  text-align: center;
  margin: 30px auto;
}

.paragraphe {
  font-size: 1.8rem;
  text-align: justify;
  margin: 0 auto;
  text-indent: 20px;
  padding: 15px 30px;
}
